@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dropzone Image */
.dropzone {
  border-color: inherit !important;
  background: none !important;
}

.dropzone p {
  color: inherit !important;
}

/* Full Image Card Overlay */
.card.image-full:before {
  background-color: rgb(0, 0, 0);
}
