@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

/* Dropzone Image */
.dropzone {
  border-color: inherit !important;
  background: none !important;
}

.dropzone p {
  color: inherit !important;
}

/* Full Image Card Overlay */
.card.image-full:before {
  background-color: rgb(0, 0, 0);
}

.yt-player-custom img {
  height: 500px !important;
  object-fit: cover;
}

.yt-player-custom .video-title {
  margin-top: 18px;
}

.yt-player-custom iframe {
  height: 500px !important;
}

/* Override Ace Editor */
.ace_editor {
  border-radius: 12px; 
}

.ace_gutter {
  padding-top: 12px;
}

.ace_layer {
  margin-top: 12px;
}

.ace_gutter-active-line {
  margin-top: 12px;
}

.normal-mode .ace_cursor {
    opacity: 0.3 !important;
    background: #fff !important;
    border: 1px #fff solid !important; 
}
